body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 30px 0 30px;
}

.my-navbar {
  --bs-tertiary-bg-rgb: 44, 62, 80;
}

.fa-bars {
  color: #888888;
}

.my-button {
  border-color: white;
  --bs-navbar-toggler-focus-width: 0;
}

.navbar-brand,
.navbar-nav,
.hero-section,
h2,
h6 {
  text-transform: uppercase;
}

.navbar-brand,
h1,
h2 {
  font-weight: bold;
}

hr,
.fa-star {
  display: inline-block;
  vertical-align: middle;
  border-width: 5px;
  opacity: 1;
}

hr {
  width: 8%;
}

.hero-img {
  max-width: 200px;
}

.btn-outline-primary {
  --bs-btn-color: 26, 188, 156;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #81818199;
  --bs-btn-hover-border-color: 26, 188, 156;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #816666;
  --bs-btn-active-bg: 26, 188, 156;
  --bs-btn-active-border-color: 26, 188, 156;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: 26, 188, 156;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: 26, 188, 156;
  --bs-gradient: none;
}

.my-form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  --bs-border-radius: 0;
}

.bg-primary {
  --bs-primary-rgb: 26, 188, 156;
}

.bg-secondary {
  --bs-secondary-rgb: 44, 62, 80;
}

.bg-success {
  --bs-success-rgb: 58, 84, 109;
}

.card.bckg-1 {
  background-color: rgb(186, 75, 99);
}

.card.bckg-2 {
  background-color: rgb(30, 164, 182);
}

.card.bckg-3 {
  background-color: rgb(20, 15, 15);
}

.card.bckg-4 {
  background-color: rgb(28, 131, 193);
}

.card.bckg-5 {
  background-color: rgb(9, 52, 179);
}

.card.bckg-6 {
  background-color: rgb(204, 178, 163);
}

footer a {
  color: #1abc9c;
}